/** ------ Montserrat fonts ------ */
$montserrat-font-base-path: '../src/assets/fonts/Montserrat/';

@font-face {
    font-family: 'Montserrat-Black';
    src: url($montserrat-font-base-path + 'Montserrat-Black.ttf') format('woff');
}

@font-face {
    font-family: 'Montserrat-BlackItalic';
    src: url($montserrat-font-base-path + 'Montserrat-BlackItalic.ttf') format('woff');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url($montserrat-font-base-path + 'Montserrat-Bold.ttf') format('woff');
}

@font-face {
    font-family: 'Montserrat-BoldItalic';
    src: url($montserrat-font-base-path + 'Montserrat-BoldItalic.ttf') format('woff');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url($montserrat-font-base-path + 'Montserrat-ExtraBold.ttf') format('woff');
}

@font-face {
    font-family: 'Montserrat-ExtraBoldItalic';
    src: url($montserrat-font-base-path + 'Montserrat-ExtraBoldItalic.ttf') format('woff');
}

@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url($montserrat-font-base-path + 'Montserrat-ExtraLight.ttf') format('woff');
}

@font-face {
    font-family: 'Montserrat-ExtraLightItalic';
    src: url($montserrat-font-base-path + 'Montserrat-ExtraLightItalic.ttf') format('woff');
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url($montserrat-font-base-path + 'Montserrat-Italic.ttf') format('woff');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url($montserrat-font-base-path + 'Montserrat-Light.ttf') format('woff');
}

@font-face {
    font-family: 'Montserrat-LightItalic';
    src: url($montserrat-font-base-path + 'Montserrat-LightItalic.ttf') format('woff');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url($montserrat-font-base-path + 'Montserrat-Medium.ttf') format('woff');
}

@font-face {
    font-family: 'Montserrat-MediumItalic';
    src: url($montserrat-font-base-path + 'Montserrat-MediumItalic.ttf') format('woff');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url($montserrat-font-base-path + 'Montserrat-Regular.ttf') format('woff');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url($montserrat-font-base-path + 'Montserrat-SemiBold.ttf') format('woff');
}

@font-face {
    font-family: 'Montserrat-SemiBoldItalic';
    src: url($montserrat-font-base-path + 'Montserrat-SemiBoldItalic.ttf') format('woff');
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: url($montserrat-font-base-path + 'Montserrat-Thin.ttf') format('woff');
}

@font-face {
    font-family: 'Montserrat-ThinItalic';
    src: url($montserrat-font-base-path + 'Montserrat-ThinItalic.ttf') format('woff');
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
